
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">
    <application>
        <receiver
            android:name=".BroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="io.flic.FLICLIB_EVENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
  